@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bigShoulders: var(--font-big-shoulders), sans-serif;
  --font-lexend: var(--font-lexend), sans-serif;
  /* Gray */
  --color-gray-100: #f2f2f2;

  /* Green */
  --color-green-950: #004140;
  --color-green-500: #19b89d;

  /* Cyan */
  --color-cyan-800: #006971;
  --color-cyan-500: #26b5c0;

  /* Gold */
  --color-gold-500: #e28625;
  --color-gold-200: #ffd473;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility text-preset-1 {
  font-family: var(--font-bigShoulders);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0px;
}

@utility text-preset-2 {
  font-family: var(--font-lexend);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.65;
  letter-spacing: 0px;
}

body {
  font-family: var(--font-lexend);
}
